* {
    font-family: 'Sintony', sans-serif;
    color: #5c6369;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700px;
    color: #14141d;
}

p {
    line-height: 1.8em;
}
.yellow {
    color: #fea100;
}

.menu {
    padding: 15px;
}

.menu__item {
    font-weight: 700;
    font-size: 14px;
}

.menu__item a {
    text-transform: uppercase;
    color: #2c465a;
    text-decoration: none;
}

.cta {
    background: #fea100;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    padding: 15px 0;
    display: block;
    cursor: pointer;
    width: 200px;
    border: 0;
    font-weight: 700;
    margin-top: -5px;
    text-align: center;
}

.cta:hover {
    background: #2275bd;
}

.book__icon {
    background: url(../img/order.png);
    width: 21px;
    height: 17px;
    display: block;
    margin-right: 13px;
}

.main-header {
    padding: 24px 0px;
}

.offer {
    background: url(../img/bg2.jpg) no-repeat center top;
    background-size: 1400px 550px;
    background-position: bottom;
    height: 520px;
}

.title {
    padding: 230px 0;
}

.title__heading {
    font-size: 56px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.title__desc {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #fff;
    margin-top: -10px;
}

.title__desc span {
    color: #fea100;
}

.call {
    background: #edf1f3;
    border-bottom: 1px solid #dde3e7;
    padding: 20px 0;
    height: 100px;
}

.phone{
    width: 455px;
    margin: 0 auto;
}

.phone__text {
    font-size: 14px;
    color: #14141d;
    background: url(../img/phone.png) no-repeat left center;
    text-transform: uppercase;
    font-weight: 700;
    width: 180px;
    padding-left: 56px;
    font-family: 'Sintony', sans-serif;
    padding-top: 5px;
}

.phone__text span {
    color: #fea100;
}

.phone__digits{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #14141d;
    margin-left: 42px;
}

.history {
    margin-top: 40px;
}

.history__title {
    font-size: 35px;
    margin-bottom: 20px;
}

.history__text p {
    font-size: 14px;
}

.history__button {
    width: 148px;
    margin-top: 48px;
    text-transform: uppercase;
    text-decoration: none;
}

.cta:hover {
    color: #fff;
}

.about {
    padding: 65px 0 100px;
}

.food-images__item {
    margin-bottom: 10px;
    width: 275px;
}

.food-images-down {
    margin-top: 50px;
}

.special {
    background: url('../img/third-bg.jpg') no-repeat center top;
    padding-top: 80px;
    text-align: center;
}

.special-title {
    font-size: 35px;
    color: #fff;
}

.food {
    text-align: center;
    box-shadow: 0 10px 70px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 130px;
}

.food__img {
    margin-bottom: 45px;
}

.food__title {
    font-size: 26px;
    margin-bottom: 10px;
}

.food__desc {
    font-size: 14px;
    padding: 0 50px;
}

.food__del {
    text-transform: uppercase;
    font-size: 13px;
    width: 78px;
    border-right: 1px solid #e1e1e1;
    text-align: left;
    margin-right: 18px;
    font-weight: 700;
}

.food__del span {
    color: #fe4c8d;
}

.food__phone {
    font-size: 26px;
    font-family: 'Playfair Display', serif;

}

.food__details {
    border-top: 1px solid #e1e1e1;
    margin: 0 45px;
    color: #14141d;
    padding: 15px 0;
}

.food__price {
    margin-left: auto;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
}

.footer {
    background: #373844;
    color: #93989e;
    font-size: 13px;
    text-transform: uppercase;
    padding: 72px 0 50px;
}

.social__item a {
    display: block;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    margin: 0 3px;
    margin-bottom: 20px;
}

.social__item__fb a {
    background: #3b5998 url(../img/fb.png) no-repeat center center;
}

.social__item__tw a {
    background: #55ace5 url(../img/tw.png) no-repeat center center;
}

.social__item__g a {
    background: rgb(250, 248, 248) url(../img/telegram.svg) no-repeat center center;
}

.credits {
    display: block;
    margin-left: 100px;
}

.line {
    background: #52535e;
    height: 1px;
    margin-top: 10px;
}

.notifyemail {
    width: 300px;
    height: 40px;
    margin: 30px 0;
    border: none;
}

.notifysub {
    height: 250px;
    background: #edf1f3;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.submitbutton {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background: #fea100;
    color: #edf1f3;
    margin-left: -5px;
}

.submitbutton:hover {
    background: #2275bd;
}

.notify__text {
    font-size: 35px;
    margin-top: 50px;
}

.notifyemail:active {
    border: none;
    outline: none;
}

.map-location {
    background-color: #fff;
}